{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(pwdForm) }}  
            <div class="row mt-3">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">
                    <h1>Modifier mes identifiants</h1>
                    <div class="bg-light py-3 px-3">
                        <div class="id-container">
                            <h2 class="text-center mb-4">Identifiants</h2>
                            <p class="text-center"><em><span style="color:#4582EC">*</span> Champs obligatoires</em></p>
                            <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">{{ form_errors(pwdForm.oldPassword) }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-5 reg-label">Ancien mot de passe<span style="color:#4582EC">&nbsp;*</span></div>
                                <div class="col-md-5">{{ form_widget(pwdForm.oldPassword) }}</div>
                                
                            </div>
                            <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">{{ form_errors(pwdForm.newPassword) }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-5 reg-label">Nouveau mot de passe<span style="color:#4582EC">&nbsp;*</span></div>
                                <div class="col-md-5">{{ form_widget(pwdForm.newPassword) }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">{{ form_errors(pwdForm.confirmPassword) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 reg-label">Confirmation du mot de passe<span style="color:#4582EC">&nbsp;*</span></div>
                                <div class="col-md-5">{{ form_widget(pwdForm.confirmPassword) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Valider &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
        {{ form_end(pwdForm) }} 
    </div>
{% endblock %}