{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row mt-3">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">
                    <h1 class="text-center mt-5">Modifier mes informations</h1>
                    <h5 class="text-center mb-5"><a href="{{ path('account_password') }}"><i class="fa fa-unlock-alt" aria-hidden="true"></i> modifier mon mot de passe</a></h5>
                    <div class="bg-light py-3 px-3">
                        <div class="id-container">
                            <h2 class="text-center mb-4">Informations personnelles</h2>                            
                            <p class="text-center"><em><span style="color:#4582EC">*</span> Champs obligatoires</em></p>
                            <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">{{ form_errors(form.firstName) }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-5 reg-label">Prénom<span style="color:#4582EC">&nbsp;*</span>&nbsp;:</div>
                                <div class="col-md-5">{{ form_widget(form.firstName) }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">{{ form_errors(form.lastName) }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-5 reg-label">Nom<span style="color:#4582EC">&nbsp;*</span>&nbsp;:</div>
                                <div class="col-md-5">{{ form_widget(form.lastName) }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-5">{{ form_errors(form.email) }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-5 reg-label">Adresse Email<span style="color:#4582EC">&nbsp;*</span></div>
                                <div class="col-md-5">{{ form_widget(form.email) }}</div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-5 reg-label">Photo de profil&nbsp;:</div>
                                <div class="col-md-5">   
                                    {% if user.profilPicture == null %}
                                        <div class="home-avatar-guest-profil-edit"></div>
                                    {% else %}
                                        <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('ad_booked_img') }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8">
                    <div class="bg-light py-3 px-3">
                        <div class="id-container">
                            <h2 class="text-center mb-4">Détails</h2>
                            <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">{{ form_errors(form.introduction) }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3 reg-label">Introduction<span style="color:#4582EC">&nbsp;*</span></div>
                                <div class="col-md-9">{{ form_widget(form.introduction) }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">{{ form_errors(form.description) }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3 reg-label">Description<span style="color:#4582EC">&nbsp;*</span></div>
                                <div class="col-md-9">{{ form_widget(form.description) | nl2br | raw }}</div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>            
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Valider &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
        {{ form_end(form) }} 
    </div>
{% endblock %}