{% extends 'base.html.twig' %}

{% block title %}Réservation de {{ ad.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mb-3 mt-5">Réserver pour l'annonce : <em>{{ ad.title }}</em></h2>
        <div class="mb-3"><small>Vous êtes sur le point de réserver le bien de <strong>{{ ad.author.getFullName }}</strong></small></div>
        {{ form_start(form) }}
            <div class="alert alert-light padding-booking-form">
                <h6 class="mb-3"><i class="fa fa-caret-right" aria-hidden="true"></i> Vos dates de séjour</h6>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.startDate) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.endDate) }}
                    </div>
                </div>
                
                <h6 class="mt-3"><i class="fa fa-caret-right" aria-hidden="true"></i> Montant du séjour : <span id="amount">...</span> &euro;</h6>
                <span id="days">0</span> nuit(s) à {{ ad.price | number_format(2, ', ', ' ') }} &euro; la nuit
    
                <h6 class="mt-4 mb-3"><i class="fa fa-caret-right" aria-hidden="true"></i> Informations supplémentaires</h6>
                {{ form_row(form.comment) }}
    
                
            </div>
            <p><em><i class="fa fa-info-circle" aria-hidden="true"></i> Si vous avez terminé et êtes sûr de votre choix, vous pouvez réserver.</em></p> 
            <button type="submit" class="btn btn-success">Je réserve</button>
            {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}      
                ],
                startDate: new Date()
            });
            //A chaque fois qu'on change la date, on relance la fonction qui calcule le prix
            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
        });

        function calculateAmount(){
            //On récupère les dates et on les transforme en date anglaise
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

            if(startDate && endDate && startDate < endDate)
            {
                const DAY_TIME = 24 * 60 * 60 * 1000;

                const interval = endDate.getTime() - startDate.getTime();
                const days = interval / DAY_TIME;
                const amount = days * {{ ad.price }};

                $('#days').text(days);
                $('#amount').text(amount.toLocaleString('fr-FR'));
            }
        }
    </script>
{% endblock %}