{% set url = path('ads_show', {'slug': ad.slug, 'id': ad.id}) %}
<div class="col-md-4">
    <div class="card ng-light mb-3" style="min-height: 589px; max-height: 589px;">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.formatPrice }} la nuit</strong><br>
            <small>Pas encore noté</small>
        </div>
        
        <div class="thumbnail-listing-parent">
            <img src="{{ vich_uploader_asset(ad, 'imageFile') | imagine_filter('thumb') }}" alt="" class="thumbnail-listing img-fluid">
        </div>
        
        <div class="col-md-12 text-center">
            <hr>
        </div>
        <div class="card-body" style="padding-top: 0 !important;">
            <a href="{{ url }}">
                <h4 class="card-title">{{ ad.title }}</h4>
            </a>
            <p>{{ ad.content | ellipsis(30) | capitalize | raw }}</p>
            <a href="{{ url }}" class="btn btn-secondary">En savoir plus</a>
            {% if app.user and app.user == ad.author %}                    
                <a href="{{ path('ads_edit', {'slug': ad.slug, 'id': ad.id}) }}" class="btn btn-primary">Modifier</a>
                <form method="post" action="{{ path('ads_delete', {'slug': ad.slug, 'id': ad.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cette annonce ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
                    <button class="btn btn-danger">X</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>