{% set url = path('ads_show', {'slug': ad.slug, 'id': ad.id}) %}
<div class="col-md-4">
    <div class="card ng-light mb-3" style="min-height: 483px; max-height: 483px;">
        <div class="card-header text-center rating-ad-listing">
            {{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ', ', ' ') }} &euro; la nuit</strong><br>
            {% if ad.comments | length > 0 %}
                {% include 'partials/average.html.twig' with {'rating': ad.avgRatings} %}
            {% else %}
                <small>Pas encore noté</small> 
            {% endif %}
            
        </div>
        
        <div class="thumbnail-listing-parent">
            <img src="{{ vich_uploader_asset(ad, 'imageFile') | imagine_filter('thumb') }}" alt="" class="thumbnail-listing img-fluid">
        </div>
        
        <div class="col-md-12 text-center">
            <hr>
        </div>
        <div class="card-body" style="padding-top: 0 !important; position:relative;">
            <a href="{{ url }}">
                <h6 class="card-title">{{ ad.title | capitalize}}</h6>
            </a>
            <p>{{ ad.content | ellipsis(30) | capitalize | raw }}</p>
            <div class="button-block-ad-listing">
                <a href="{{ url }}" class="btn btn-primary rounded">En savoir plus</a>
                {% if app.user and app.user == ad.author %}                    
                    <a href="{{ path('ads_edit', {'slug': ad.slug, 'id': ad.id}) }}" class="btn btn-primary rounded">Modifier</a>
                    <form method="post" action="{{ path('ads_delete', {'id': ad.id, 'slug': ad.slug}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cette annonce ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
                        <button class="btn btn-danger delete-ad-list-fa rounded"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>